<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/css/main.css"
	</head>
	<body>
	    <%- include('blocks/header.ejs') -%>
	    Hello World
	</body>
</html>
<script>
console.log('bbb')
</script>